* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

:root {
  --bg-primary-color: #0c0c0c;
  --text-primary-color: #f0f0f0;
  --bg-fill-color: #ffffff;

  --spacing-sm: 8px;
  --spacing-md: 16px;
  --space-2xl: 40px;

  --border-primary-color: #222;
  --border-radius-sm: 8px;
}

html {
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
  font-family: system-ui, sans-serif;
}

main, section {
  height: 100%;
  width: 100%;
}

section {
  padding: var(--space-2xl);
  display: flex;
  flex-direction: column;
}

.btn {
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--border-radius-sm);
  border: none;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  margin-bottom: 20px;
}

.infos {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;  
  align-items: center;
  margin-bottom: 20px;     
}

.info {
  padding: var(--spacing-sm) var(--spacing-md);
  border: 1px solid var(--border-primary-color);
  border-radius: var(--border-radius-sm);
}

/* GAME BOARD */
.board {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, 50px);
  grid-template-rows: repeat(auto-fill, 50px);

  background-color: #0c0c0c;

  /* GRID PATTERN  */
  background-image: radial-gradient(circle, #222 2px, transparent 2px);
  background-size: 50px 50px;

  border: 1px solid #222;
}

.block {
  border: none;
}

/* Snake */
.fill {
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 8px #fff;
}

/* Food */
.food {
  background-color: red;
  border-radius: 50%;
  box-shadow: 0 0 10px red;
}
